
.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.scrollableList {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 0.5rem;
}

